<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trainingen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trainingen</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-list *ngFor="let schemake of schemas">
  <ion-card (click)="presentToast()" routerLink="{{schemake.adres}}">
    <ion-card-header>
      <ion-card-title>{{schemake.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{schemake.beschrijving}}
    </ion-card-content>
  </ion-card>


</ion-list>



</ion-content>
