<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-title class="titel">{{time.toISOString().substr(11,8)}}</ion-title>


        <ion-item-group >
          <ion-button class="buttons"  (click)="startTimer()">Start</ion-button>
          <ion-button class="buttons" (click)="resetTimer()">Reset</ion-button>
          <ion-button class="buttons" (click)="pauseTimer()">Pause</ion-button>
        </ion-item-group>




</ion-content>
